.fundo{
    background-color: #131313;
}

.imagenav{
    width: 6vh
}

.px{
    padding-right: 100px;
    padding-left: 100px;
}

.w{
    width: 350px;
}

.text{
    text-align: center;
}

.pt{
    padding-top: 50px;
}

.pt2{
    padding: 100px;
}


@media screen and (max-width: 750px) {
    .fs{
        font-size: 20px;
        padding: 20px;
    }
    .fs1{
        font-size: 20px;
    }
}